.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    .block {
        padding: 24px;
    }
    .scroll {
        flex-grow: 1;
        height: 0;
        overflow: auto;
    }
}